extends /family_layout
include /helper

block title
  title Familientherapie - Andreas Niehues
  if (config.get('canonical'))
    link(rel="canonical" href=FAMILY_HOST)

block content
  .area
    include:markdown-it landing-page/family_intro.md

  +teaser-list(['couples', 'single', 'corporations'])

block after_shared_content
  .area
    include:markdown-it landing-page/pricing.md

block seo
  +meta_keywords('Familientherapie', 'Familientherapeut', 'Familienberatung', 'Familienberater', 'Andreas', 'Andrea', 'Andre', 'Niehues', 'Niehus', 'Niehuis', 'Niehaus', 'Essen', 'Ruhrgebiet', 'M체lheim', 'Oberhausen', 'Duisburg', 'Gladbeck', 'Bocholt', 'Familienaufstellungen', 'Familienaufstellung', 'Hellinger', 'Aufstellung ', 'Aufstellungen', 'Systemisch', 'Systemisch-integrativ', 'Systemische', 'Familie', 'Familien', 'Trennung', 'Scheidung', 'Patchworkfamilie', 'Kind', 'Kinder', 'Regenbogenfamilie', 'Pubert채t', 'Magersucht', 'Anorexie', 'Ritzen', 'Selbst verletzen', 'Alkohol', 'Drogen', 'Steit', 'Streitigkeiten', 'Geschwister', 'Geschwisterrivalit채t', 'Eltern', 'Bruder', 'Schwester', 'Vater', 'Mutter', 'Eifersucht', 'Eifers체chtig', 'Chronisch Krank', 'Krebs', 'HIV', 'Aids', 'Schwul', 'Lesbisch', 'Lesbe', 'Homosexuell', 'Coming-out', 'Schulprobleme')
  +meta_description('Belastendes Familienleben? Wege aus dem Alltagsstress zu mehr Familienidylle. Beziehungen in der Familie neu gestalten.')
